<?xml version="1.0" encoding="utf-8" ?>
<StructureMap>
  <Assembly Name="MessagingIoC" />
  <Assembly Name="DisplayMessage" />
  <Assembly Name="AnotherDisplayMessage" />

  <PluginFamily Type="MessagingIoC.IDisplayMessage"
                Assembly="MessagingIoC"
                DefaultKey="DisplayMessage">
    <Plugin Type="MessagingIoC.DisplayMessage"
            Assembly="MessagingIoC"
            ConcreteKey="DisplayMessage" />
    <Plugin Type="MessagingIoC.AnotherDisplayMessage"
                Assembly="MessagingIoC"
                ConcreteKey="AnotherDisplayMessage" />
  </PluginFamily>
</StructureMap>