<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="StructureMap"
    type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap"/>
  </configSections>

  <appSettings>
    <add key="MyClassObject" value="BusinessClasses.ClassB, BusinessClasses,
Version=1.0.0.0, Culture=neutral"/>
  </appSettings>
  <StructureMap defaultAssembly="BusinessClasses">
    <DefaultInstance
             PluginType  = "BusinessClasses.IClassB, BusinessClasses"
             PluggedType = "BusinessClasses.ClassB, BusinessClasses"
                          />
  </StructureMap>
</configuration>